#map{
    width: 100%;
    height: 100%;
    position:absolute;
}
.logo h1{
    position:absolute;
    font-size:40px;
    font-weight:bold;
    color: white;
    font-family: 'Baloo';
    top:1%;
    left:50%;
}
.chica{
    position: absolute;
    top:1%;
    width:5%;
    border-radius: 250px;
}
#icono{
    position: absolute; 
    font-size: 30px;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 200px;
    top:1%; 
    right:1%;
}
.contenedor img{
    width: 90px;
}
.contenedor{
    background: white;
    border-radius:7px;
    position: absolute;
    z-index:1;
    bottom:70px;
    width:90%;
}
.paz{
    margin:30px;
    font-size:20px;
    color: #867f7f;
}

.dropdown-menu{
    width:150%;
    padding:3px;
}
.dropdown-menu .minuto {
   float: right;
    padding-left: 10px;
}
.dropdown-menu .tipo{
    margin-left:20px;
}
.dropdown-menu .texto{
    color: #837b7b;
    font-weight:600;
}
.dropdown-menu ul:hover{
    background: rgba(124, 134, 165, 0.35);
    border-radius: 20px;
    color:rgba(135, 19, 219, 0.5);
    font-weight: bold;
}
.titulo{
   margin:0px;
    font-size:20px;
}
.butonApp{
    background: #7520d8;
    border-radius:7px;
    font-size: 30px;
    font-weight: bold;
    width:90%;
    z-index:1;
    position: absolute;
    bottom:20px;
    color:white;
}

